.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--primarySolid);
    /* padding: 0px 0px; */
    color: var(--red)
}

.ignite_home {
    background-image: url("/assets/ignite/ignite-bg.png");
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ignite_logo_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.ignite_logo {
    width: 250px;
    height: 250px;
}

.ignite_text {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
}

.ignite_desc {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ignite_iitgn_text {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
}

.ignite_hr {
    height: 5px;
    background-color: var(--white);
    width: 80%;
}

.ignite_dates {
    font-size: 4em;
    font-weight: 700;
    text-align: center;
}

.mainpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
    background-color: var(--black);
}

.title {
    font-family: "share";
    color: var(--white);
    font-size: 4em;
    text-align: center;
}

.subtitle {
    font-family: "share";
    color: var(--white);
    font-size: 2.5em;
    max-width: 50%;
    text-align: center;
    line-height: 1.5em;
    margin: 20px auto;
}

.desc {
    font-family: "share";
    color: var(--white);
    font-size: 1.25em;
    max-width: 75%;
    text-align: center;
    line-height: 1.5em;
    margin: 20px auto;
}

.clubsOuter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.clubCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    border-radius: 10px;
    border: 2px solid var(--red);
    max-width: 400px;
    margin: 20px 10px;
    width: 31%;
}

.bannerOuter {
    aspect-ratio: 8 / 5;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clubBanner {
    max-width: 99%;
    height: 100%;
    background-color: var(--black);
}

.clubInfo {
    padding: 20px;
    background-color: var(--black);
    height: 100%;
    border-radius: 10px;
}

.clubName {
    color: var(--secondaryText);
    text-transform: capitalize!important;
    font-size: 1.5em;
}

.clubDesc {
    color: var(--white);
    font-size: 1em;
}

.venue_outer {
    margin: 10px;
}

.venue_info_div {
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
}

.venue_icon {
    width: 25px;
    height: 25px;
}

.venue_text {
    color: var(--white);
    font-size: 1.25em;
    margin: 0px 0px 0px 10px
}

@media screen and (max-width: 992px) {
    .ignite_logo {
        width: 200px;
        height: 200px;
    }
    
    .ignite_text {
        font-size: 2.5em;
    }
    
    .ignite_iitgn_text {
        font-size: 2.5em;
    }
    
    .ignite_hr {
        height: 3px;
    }
    
    .ignite_dates {
        font-size: 3em;
    }
    .title {
        font-size: 3em;
    }
    .subtitle {
        font-size: 2.5em;
        max-width: 80%;
        margin: 20px auto
    }
    .desc {
        font-size: 1.25em;
        max-width: 85%;
    }
    .clubName {
        font-size: 1.35em;
    }
    
    .clubDesc {
        font-size: 0.9em;
    }
    .clubInfo {
        padding: 10px;
    }
    .clubCard {
        max-width: 300px;
        width: auto;
    }
}
  
@media screen and (max-width: 768px) {
    .ignite_logo_div {
        width: 35%;
    }
    .ignite_logo {
        width: 175px;
        height: 175px;
    }

    .ignite_desc {
        width: 66%;
    }
    
    .ignite_text {
        font-size: 2.25em;
    }
    
    .ignite_iitgn_text {
        font-size: 2.25em;
    }
    
    .ignite_hr {
        height: 2.5px;
    }
    
    .ignite_dates {
        font-size: 2.5em;
    }       
    
    .title {
        font-size: 3em;
    }
    .subtitle {
        font-size: 2.5em;
        max-width: 100%;
        line-height: 1.25em;
        max-width: 95%;
        margin: 20px 0px
    }
    .desc {
        font-size: 1.25em;
        max-width: 95%;
    }
    .clubCard {
        max-width: 350px;
        width: auto;
    }
}
  
@media screen and (max-width: 480px) {
    .ignite_home {
        background-image: url("/assets/ignite/ignite-bg.png");
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .ignite_logo_div {
        width: 100%;
    }
    
    .ignite_logo {
        width: 200px;
        height: 200px;
    }
    
    .ignite_text {
        font-size: 3em;

    }
    
    .ignite_desc {
        width: 100%;
    }
    
    .ignite_iitgn_text {
        font-size: 2.5em;
    }
    
    .ignite_hr {
        height: 3px;
        background-color: var(--white);
        width: 80%;
    }
    
    .ignite_dates {
        font-size: 3em;
    }
    
    .clubName {
        text-align: center;
    }
    .subtitle {
        font-size: 2em;
        max-width: 100%;
        line-height: 1.25em;
        max-width: 95%;
        margin: 20px 0px
    }
    .desc {
        font-size: 1em;
        max-width: 100%;
    }
}
  